<%= provide(:title, "Forgot Password?") %>

<div class="col-10 offset-1">
	<p class="password-heading">Forgot Password?</p>
	<div class="col-lg-6 offset-lg-3 col-md-8 offset-md-2 col-sm-10 offset-sm-1">
		<%= form_for(:password_reset, url: password_resets_path) do |f| %>
			<%= f.label :email %>
			<%= f.text_field :email, class: "form-control form-control-sm" %>

			<%= f.submit "submit", class: "btn-password" %>
		<% end %>
	</div>
</div>